.homepage{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.homepage__left{
    height: 100vh;
    width: 30%;
    padding-top: 10px;
    
    
}
.homepage__leftData{
    margin-left: 50%;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}
.homepage_leftLogo{
    height: 25px;
    align-self: start;
}
.homepage__leftNav{
    width: fit-content;
}
.homepage__leftNavBar{

    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    height: 35px;
    padding: 10px;
    border-radius: 9999px;


}
.homepage__leftNavBar > span{
    margin-left: 10px;
    font-weight: 800;
    font-size: larger;
}
.homepage__leftData > button{
    margin-top: 20px;
    height: 50px;
    border-radius: 9999px;
    border: none;
    background-color: #1DA1F5;
    font-weight: 800;
color: #fff;
}
.homepage__leftNavBar:hover{
    cursor: pointer;
    background-color: #E8F5FE;
}
.homepage__middle{
    height: 100vh;
    border: 1px solid yellow;
    background-color: yellow;
    width: 40%;

}

.homepage__right{
    height: 100vh;
    border: 1px solid green;
    background-color: green;
    width: 30%;

}
.modal{
    background-color: white;
    width: fit-content;
    height: fit-content;
    margin-left: 15%;
    margin-top: 10%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.modal__content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.modal__contentNav{
    margin: 20px;
}
.modalTwo{
    width: fit-content;
    height: 50px;
    margin-top:200px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.homepage__leftData > button >.MuiSvgIcon-root{
    display: none;
}
@media screen and (max-width: 1280px){

    .homepage__leftNavBar > span{
        display: none;
    }
    .homepage__leftData > button{
        height: fit-content;
        width: fit-content;
        border-radius: 50%;
        display: inline-block;
        

    }
.homepage__leftData > button >.MuiSvgIcon-root{
    display: block;
    padding: 10px;
}
    .homepage__leftData > button  >span{
        display: none;
    }

}