.main__header{
    position: sticky;
    top: 0;
    padding: 2%;
    background-color: white;
    border: 0.01px solid lightgrey;
}
.main__contentTweet{
    border: 0.1px solid lightgrey;
}
.main__contentTextArea{
    display: flex;
    flex-direction: row;
    padding: 1%;
    width: 100%;
    height: 2%;
    align-items: center;
}
.main__contentTextArea > input{
    padding-left: 1%;
    border: none;
    height: 35px;
    width: 100%;
}
.main__contentEveryOneCanReply{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: stretch;
    width: fit-content;
    border: none;
    padding: 10px;
    border-radius: 9999px;
    cursor: pointer;
}
.main__contentEveryOneCanReplyBaap{
    padding-left: 40px;
}
.main__contentEmoji{
    justify-content: space-between;
    width: fit-content;
    display: flex;
    flex-direction: row;
}
.main__contentEmoji > .MuiSvgIcon-root{
    margin-left: 10px;
    padding: 5px;
    border-radius: 9999px;


}
.main__contentEmoji > .MuiSvgIcon-root:hover {
    cursor: pointer;
    background-color: #E8F5FE;
}
.main__contentEmoji:hover{
    justify-content: space-between;

}
.main__contentThirdLine{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
}
.main__contentThirdLine >button{
    padding: 10px;
    margin-top: 20px;
    height: fit-content;
    width: fit-content;
    border-radius: 9999px;
    border: none;
    background-color: #1DA1F5;
    font-weight: 800;
    color: #fff;
}
.main__contentTweets{
    overflow: scroll;
    height: 100vh;
    overflow-x: hidden;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.main__contentTweets::-webkit-scrollbar {
 display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.main__contentTweets {
 -ms-overflow-style: none;  /* IE and Edge */
 scrollbar-width: none;  /* Firefox */
}
